@model BadgerBJJ.AppointmentsModule.ViewModels.ContactVM
@{
    ViewData["Title"] = "Schedule";
}
@{
    Layout = "~/Themes/BadgerBJJ.MainTheme/Views/Layout.cshtml";
}

<div class="schedule-page">
    <h2 class="page-title">Contact</h2>
    <!-- Rest of your schedule content -->
</div>