
@using OrchardCore.ContentManagement
@using OrchardCore.DisplayManagement.Shapes


@{
    Layout = "~/Themes/BadgerBJJ.MainTheme/Views/Layout.cshtml";
}

<div class="home-page">
    <h2>Welcome to BadgerBJJ</h2>

    <div class="card">
        <h3>Training Schedule</h3>
        <p class="accent-border">Check out our weekly classes</p>
        <button class="button">View Schedule</button>
    </div>

    <div class="card">
        <h3>About Us</h3>
        <p>Learn about our <span class="highlight">training philosophy</span> and team</p>
        <button class="button">Learn More</button>
    </div>
</div>