@inherits OrchardCore.DisplayManagement.Razor.RazorPage<TModel>
<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments("BadgerBJJ")</title>   @* We can hardcode it for now *@
    @await RenderSectionAsync("HeadMeta", required: false)
    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
</head>
<body>
    <div class="container">
        @await RenderBodyAsync()
    </div>
    <resources type="FootScript" />
</body>
</html>